@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

* {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    font-family: 'Open Sans';
    color: #FFF;
}

body {
    font-family: 'Open Sans';
}


h1 {
    margin: 0px;
    padding-top: 60px;
    font-size: 2.2em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

p {
    font-size: 1em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 300;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dropdown-content {
    width: 360px;
    height: 280px;
    margin: auto;
}

.dropdown {
    width: 90%;
    background: url(../img/down_arrow_select.png) #33373B no-repeat 100% 0px;
    height: auto;
    padding: 6px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}

    .dropdown ul {
        display: none;
    }

        .dropdown ul li {
            margin: 6px -6px;
            padding: 6px 0px 6px 16px;
            cursor: pointer;
        }

            .dropdown ul li:hover {
                background: #E37341;
            }

.form-group {
    margin: 10px 12px;
}

.span2 {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.btn, .btn-notify {
    margin-left: 12px;
    padding: 12px;
    background: #33373B;
    border: none;
    box-shadow: none;
}

.form-group input {
    margin-left: 0px;
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    color: #9095AA;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: 1px solid #E7E7E7;
    font-size: 1em;
    height: 40px;
}
