@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body{
    font-family: 'Open Sans';
}


h1 {
    margin: 0px;
    padding-top: 60px;
    font-size: 2.2em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

p {
    font-size: 1em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 300;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contact {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    background: rgba(0,0,0, 0.4);
    z-index: 999999999;
}
.form-icon {
    display: block;
    margin: 10px 40px;
}

#detailsContent {
    text-align: center;
}

    #detailsContent p {
        margin: 0px auto;
    }

    #postContact{
        margin-bottom:20px;
    }
#detailsContent p:last-child{
    padding-bottom:34px;
}

.box {
    background: white;
    width: 420px;
    height: 527px;
    margin: auto;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
    -moz-box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
    box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
}

    .box input[type="submit"] {
        float: right;
        margin-right: 40px;
        margin-top: 30px;
    }

.btn {
    margin: auto;
    border: 1px solid #FF8E7A;
    color: #FF8E7A;
    padding: 6px 20px;
    font-size: 1em;
    background: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .btn:hover {
        cursor: pointer;
        background: #FF8E7A;
        color: #FFF;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.contact footer button {
    font-family: 'Open Sans';
    font-size: 1.1em;
    width: 100%;
    display: inline-block;
    height: 60px;
    background: rgba(255, 142, 122, 0.8);
    margin: 0px;
    border: none;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #FFF;
    border: 0px;
}

.icon-form, .form-icon input[type="text"] {
    display: inline-block;
}

input[type="text"], input[type="email"] {
    margin: auto;
    height: 40px;
    padding: 0px 40px;
    width: 260px;
    background: #F2F2F2;
    color: #696969;
    box-shadow: none;
    border: none;
    overflow: hidden;
    font-size: 1em;
}


    input[type="text"]:focus, input[type="email"]:focus {
        width: 260px;
        background: white;
        box-shadow: none;
        border: none;
        overflow: hidden;
        text-shadow: none;
        background: rgba(255,142,122, 0.3);
        outline: 0;
    }

textarea {
    padding-left: 40px;
    padding-top: 4px;
    height: 140px;
    width: 300px;
    background: #F2F2F2;
    color: #000;
    box-shadow: none;
    border: none;
    font-family: Arial;
    font-size: 1em;
    resize: none;
}

    textarea:focus {
        background: rgba(255,142,122, 0.3);
        outline: 0;
    }

::-webkit-input-placeholder { /* WebKit browsers */
    color: #9A9A9A;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9A9A9A;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9A9A9A;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9A9A9A;
}


input[type="text"]:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,142,122, 1);
}

textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,142,122, 1);
}

.contact .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: url('./../img/arrow.png');
    border-radius: 2px;
    width: 24px;
    height: 24px;
}

    .contact .close:hover {
        position: absolute;
        top: 15px;
        right: 15px;
        background: url('./../img/arrowhover.png');
        border-radius: 2px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .contentLink{
        height:120px;
        width:200px;
    }