html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background:lightblue;

	
}



nav {

	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(255,255,255.4);
	z-index: 100;

}

nav ul{

	margin: 0;
	padding: 0;
	list-style: none;
}


nav ul li{

	float: left;
	padding: 10px;
	margin: 5px;




}

nav ul li a{

	color: white;
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;

}

section {

	height: 700px;
	display: table;
	overflow: hidden;
	width: 100%;
	position: relative;
	


}

.background{background-repeat: no-repeat;
	height: 1000px;
	background-size: cover;
	opacity: .6;
	/*background-attachment: fixed;*/



}
.parallax{position: absolute;
width: 100%}


.content{	position: relative;
			color: white;
			text-align: center;
			width: 100%;
			display: table-cell;
			vertical-align: middle;
		

		}

.content img {

	position: absolute;
}


#first .background{background-image: url(../img/1.jpeg);}
#second .background{background-image: url(../img/2.jpg);}
#third .background{background-image: url(../img/3.jpg);}
#fourth .background{background-image: url(../img/4.jpeg);}
#fifth .background{background-image: url(../img/5.jpg);}



