html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background: #3bb98e;
}

#container{
	/*width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;*/
}

header{
	padding: 40px 0 20px 0;
	color: white;
}

header h1{
	text-align: center;
	font-size: 4em;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}

header small{
	display: block;
	text-align: center;
	font-size: 1.6em;
}

ul{
	display: block;
	padding: 0;
	list-style: none;
	width: 50%;
	margin: 50px auto;
}

ul li{
	width: 110px;
	height: 140px;
	padding: 10px;
	margin: 10px;
	float: left;

	word-break:break-all;

	-webkit-transition: -webkit-transform .2s ease-out;
	-moz-transition: -moz-transform .2s ease-out;
	-o-transition: -o-transform .2s ease-out;
	transition: transform .2s ease-out;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

ul li:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

ul li.active {

	background: #B4D455;
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

ul li a{
	position:absolute;
	display: block;
	width: 90px;
	height: 120px;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	background: yellow;
}

ul li a span{
	text-align: right;
	display: block;
	font-size: .9em;
}

ul li a h2{
	margin: 0;
	font-size: 3em;
	line-height: 1em;
}

ul li a b{
	text-transform: uppercase;
	margin: 5px 0;
	display: block;
}

ul li a small{
	position: absolute;
	text-transform: capitalize;
	bottom: 10px;
}

/* TYPE OF EXPERIMENTS */

.info{
	background: white;
}

.info a{
	background: #3ebda7;
	color: white;
}

.game{
	background: white;
}

.game a{
	background: #f4d869;
	color: white;
}

.animation{
	background: white;
}

.animation a{
	background: #6994f4;
	color: white;
}

#iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 99;
	border: none;
	background: white;

	-webkit-transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-o-transform:translateX(-100%);
	transform:translateX(-100%);

	-webkit-transition: all .5s ease-out;
}

#iframe.active{
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0);
}

#quit{
	position: absolute;
	/*display: none;*/
	display: none;
	z-index: 100;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f8e7cc;
	border-radius: 50%;
	border: 4px solid #f8e7cc;
	font-size: .9em;
	cursor: pointer;
	top: 50%;
	right:50px;

	-webkit-transition: all .2s ease-out;
}

#quit:hover{
	background: #f6c058;
}






