@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
    font-family: 'Open Sans';
}


/* Wrap system */

.wrap {
    margin: auto;
    width: 960px;
}

/* Grid system */
.row {
    white-space: nowrap;
    width: 100%;
}

.col-md-6 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 50%;
}


/* Work section and content div - article */
.work-details {
    width: 100%;
    height: 440px;
    color: #FFF;
}

    .work-details.right {
        margin-left: 20px;
    }

    .work-details .pic-wrap {
        width: 460px;
        height: 290px;
        padding: 0px;
        margin: 0px;
        position: relative;
    }

        .work-details .pic-wrap img {
            width: 460px;
            height: 290px;
        }

        .work-details .pic-wrap aside {
            position: absolute;
            background: #FF8E7A;
            padding: 10px 18px;
        }

        .work-details .pic-wrap a {
            text-decoration: none;
            background-color: #414141;
            display: inline;
            padding: 10px 15px 10px 15px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 13px;
            font-weight: 300;
            color: white;
            opacity: 0.8;
            transition: all 0.5s;
        }

            .work-details .pic-wrap a:hover {
                background-color: #414141;
                opacity: 1;
                transition: all 0.5s;
            }

    .work-details .pic-desc {
        margin: 0px;
        padding: 0px 28px 21px 27px;
        height: 140px;
        background: url('./../img/3.png') #FF8E7A;
    }

        .work-details .pic-desc p {
            padding: 24px 0px 0px 0px;
            margin: 0px;
            color: #FFF;
            width: 415px;
            font-size: 14px;
        }

        .work-details .pic-desc h3 {
            padding-top: 24px;
            margin: 0px;
            color: #FFF;
            font-size: 24px;
            font-weight: 400 !important;
            line-height: 27px;
        }


.work-multi {
    width: 460px;
    height: 440px;
    color: #FFF;
}

    .work-multi.right {
        margin-left: 20px;
    }

    .work-multi .pic-wrap {
        width: 460px;
        height: 290px;
        padding: 0px;
        margin: 0px;
        position: relative;
    }

        .work-multi .pic-wrap img {
            width: 460px;
            height: 290px;
        }

        .work-multi .pic-wrap aside {
            position: absolute;
            background: #FF8E7A;
            padding: 10px 18px;
        }

        .work-multi .pic-wrap a {
            text-decoration: none;
            background-color: #414141;
            display: inline;
            padding: 10px 15px 10px 15px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 13px;
            font-weight: 300;
            color: white;
            opacity: 0.8;
            transition: all 0.5s;
        }

            .work-multi .pic-wrap a:hover {
                background-color: #414141;
                opacity: 1;
                transition: all 0.5s;
            }

    .work-multi .pic-desc {
        margin: 0px;
        padding: 0px 28px 21px 27px;
        height: 140px;
        background: url('./../img/3.png') #FF8E7A;
    }

        .work-multi .pic-desc p {
            padding: 24px 0px 0px 0px;
            margin: 0px;
            color: #FFF;
            width: 415px;
            font-size: 14px;
        }

        .work-multi .pic-desc h3 {
            padding-top: 24px;
            margin: 0px;
            color: #FFF;
            font-size: 24px;
            font-weight: 400 !important;
            line-height: 27px;
        }




.work-single {
    margin-top: 50px;
    width: 960px;
    height: 290px;
    background: #FF8E7A;
    color: #FFF;
    white-space: nowrap;
}

    .work-single .pic-wrap, .work-single .pic-desc {
        width: 480px;
        height: 290px;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }

    .work-single .pic-wrap {
        height: 290px;
        padding: 0px;
        margin: 0px;
        position: relative;
    }

        .work-single .pic-wrap img {
            width: 480px;
            height: 290px;
        }

        .work-single .pic-wrap aside {
            position: absolute;
            background: #FF8E7A;
            padding: 10px 18px;
        }

        .work-single .pic-wrap a {
            text-decoration: none;
            background-color: #414141;
            display: inline;
            padding: 10px 15px 10px 15px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 13px;
            font-weight: 300;
            color: white;
            opacity: 0.8;
            transition: all 0.5s;
        }

            .work-single .pic-wrap a:hover {
                background-color: #414141;
                opacity: 1;
                transition: all 0.5s;
            }

    .work-single .pic-desc {
        margin: 0px;
        background: url('./../img/1.png') #FF8E7A no-repeat;
        background-position: bottom right;
    }

        .work-single .pic-desc p {
            padding: 24px 16px 10px 24px;
            margin: 0px;
            color: #FFF;
            font-size: 14px;
        }

        .work-single .pic-desc ul {
            margin-left: 32px;
            font-size: 14px;
        }

        .work-single .pic-desc h3 {
            padding-top: 24px;
            padding-left: 24px;
            margin: 0px;
            color: #FFF;
            font-size: 24px;
            font-weight: 400 !important;
            line-height: 27px;
        }
