#countryTable, #country{
    display: inline-block;
    vertical-align: middle;
}

table{
    border-collapse:collapse;
}

table td,  table tr{
    border: 1px solid black;
    height: 32px;
    position: relative;
}

table td{
    width: 120px;
}

.progress{
    position: absolute;
    height: 32px;
    top:0px;
    left: 0px;
}