@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    color: #1A1A1A;
    font-family: 'Open Sans';
    height: 100%
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#main-nav {
    background: #FFF;
    height: 50px;
    width: 100%;
    z-index: 25000000000;
}

#main-nav img{
    margin-left:40px;
    margin-top:0px;
    height:48px;
}

    #main-nav ul {
        float: right;
        margin-right: 60px;
    }

        #main-nav ul li {
            display: inline-block;
            margin: 0px 20px;
            color: #9A9A9A;
            font-size: 18px;
            cursor: pointer;
        }

            #main-nav ul li:hover {
                font-size: 18px;
                color: #FF8E7A;
                cursor: pointer;
                display: inline-block;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

            #main-nav ul li a {
                font-size: 18px;
                color: #9A9A9A;
                display: inline-block;
                text-decoration: none;
                border-bottom: 2px solid rgba(0,0,0,0);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

                #main-nav ul li a:hover {
                    font-size: 18px;
                    color: #FF8E7A;
                    border-bottom: 2px solid rgba(255,142,122,1);
                    cursor: pointer;
                    display: inline-block;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }

                #main-nav ul li a.active {
                    font-size: 18px;
                    color: #FF8E7A;
                    border-bottom: 2px solid rgba(255,142,122,1);
                    cursor: pointer;
                    display: inline-block;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }

li .container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.6);
}

#intro{
    background: url('./../img/back1.jpg');
    background-size: cover;
    min-height: 100%;
    padding: 0px;
}

#intro h1 {
    position: absolute;
    left: 80px;
    color: #FFF;
    font-size: 64px;
}

#intro h2 {
    position: absolute;
    top: 160px;
    left: 80px;
    color: #FFF;
    font-size: 46px;
}

#intro h3 {
    position: absolute;
    top: 220px;
    left: 80px;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
}

#intro a {
    color: #FF8E7A;
}


.intro-filter{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.4);
    /*background: rgba(255,142,122,0.5);*/
}

.social {
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 28888888;
}

    .social ul li {
        height: 32px;
        width: 32px;
        list-style-type: none;
        margin-bottom: 2px;
        background: #494c43;
        padding: 5px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }

.linkedin {
    height: 32px;
    width: 32px;
    background: url('./../img/linkedin.png') #494c43;
    background-position: 0% 0%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

    .linkedin:hover {
        background-position: 100% 50%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.pinterest {
    height: 32px;
    width: 32px;
    background: url('./../img/pinterest.png') #494c43;
    background-position: 0% 0%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .pinterest:hover {
        background-position: 100% 50%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.behance {
    height: 32px;
    width: 32px;
    background: url('./../img/behance.png') #494c43;
    background-position: 0% 0%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .behance:hover {
        background-position: 100% 50%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.twitter {
    height: 32px;
    width: 32px;
    background: url('./../img/twitter.png') #494c43;
    background-position: 0% 0%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .twitter:hover {
        background-position: 100% 50%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.facebook {
    height: 32px;
    width: 32px;
    background: url('./../img/facebook.png') #494c43;
    background-position: 0% 0%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .facebook:hover {
        background-position: 100% 50%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

#about aside {
    margin-top: 80px;
}

#about article {
    margin-top: 40px;
}

#about article {
    width: 580px;
    float: right;
}

#about aside {
    width: 300px;
    float: left;
    background: #494c43;
    text-align: center;
}

    #about aside p {
        white-space: normal;
        margin: 20px 20px;
        color: #AFAFAF;
        text-align: left;
    }

#about article p {
    white-space: normal;
    margin: 40px 45px 40px 70px;
    hyphens:none;
    text-align: left;
}

#about article blockquote {
    font-style: italic;
    font-size: 18px;
    margin: 40px 45px 40px 70px;
    hyphens:none;
}

.white {
    background: #FFF;
}

.grey {
    background: #494c43;
    color: #FFF;
}

    .grey h1, .grey h2 {
        color: #FFF;
    }

.corail {
    color: #FF8E7A;
}

span.white {
    background: none;
    color: #FFF;
}


section:not(:first-child) {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

footer {
    padding-top: 20px;
    background: #494c43;
    height: 40px;
}

    footer p {
        color: #9A9A9A;
    }

    footer p, footer ul {
        display: inline-block;
        margin: auto;
    }

        footer ul li {
            list-style-type: none;
            display: inline-block;
            margin: auto 40px;
        }

            footer ul li a {
                text-decoration: none;
                color: #FF8E7A;
            }


                footer ul li a:hover {
                    text-decoration: none;
                    color: #FFF;
                }

.project-content {
    margin: 40px auto;
    width: 960px;
    white-space: normal;
}

    .project-content p {
        margin-top: 6px;
        float: left;
        font-size: 1.2em;
    }

.main {
    /*background: url('./../_DSC9133.jpg') no-repeat;*/
    background-size: 100%;
    padding-top: 40px;
}

    .main p {
        font-size: 1.2em;
        font-family: 'Open Sans';
        color: white;
        padding: 4px 10px;
        text-align: right;
        font-weight: lighter;
        position: absolute;
        right: 40px;
        bottom: 90px;
    }

    .main .hire-me {
        font-size: 1.4em;
        font-family: 'Open Sans';
        color: white;
        padding: 4px 10px;
        text-align: center;
        border: solid 2px white;
        font-weight: lighter;
        position: absolute;
        right: 40px;
        bottom: 40px;
        text-decoration: none;
    }

        .main .hire-me:hover {
            font-size: 1.4em;
            font-family: 'Open Sans';
            color: #a2ce7e;
            padding: 4px 10px;
            text-align: center;
            border: solid 2px #a2ce7e;
            font-weight: lighter;
            position: absolute;
            right: 40px;
            bottom: 40px;
            text-decoration: none;
        }

/*.main h1{
    font-size: 2.8em;
    text-transform: uppercase;
    color:#fff;
    width: 960px;
    margin: auto;
    padding: 20px;
    margin-top: 360px;
    border: 2px solid #fff;
    transition: 2s margin;
}

.main h2{
    font-size: 3em;
    text-transform: uppercase;
    color:#fff;
    width: 960px;
    margin: auto;
    padding: 20px;
    font-style: italic;
    margin-top: -20px;
}*/

.underline {
    height: 2px;
    width: 220px;
    background: #FF8E7A;
    margin: auto;
    margin-top: 16px;
}


.infos-content p {
    margin-right: 120px;
    text-align: right;
    margin: 20px 120px;
}

h1 {
    margin: 0px;
    padding-top: 60px;
    font-size: 2.2em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 800;
}

p {
    font-size: 1em;
    font-family: 'Open Sans';
    color: #7A7C7F;
    text-align: center;
    font-weight: 300;
}

section h1:nth-child(n+2) {
    padding-top: 120px;
}

.contact {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    background: rgba(0,0,0, 0.4);
    z-index: 999999999;
}

#detailsContent {
    text-align: center;
}

    #detailsContent p {
        margin: 0px auto;
    }


.box {
    background: white;
    width: 420px;
    height: 622px;
    margin: auto;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
    -moz-box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
    box-shadow: 7px 7px 5px 0px rgba(94, 94, 94, 0.6);
}

    .box input[type="submit"] {
        float: right;
        margin-right: 40px;
        margin-top: 30px;
    }

#contactForm {
    height: 527px;
}

#feedbackForm {
    height: 527px;
}

#detailsForm {
    height: 527px;
}

.contact footer {
    background: none;
    margin-top: 30px;
    height: 60px;
    width: 420px;
}

    .contact footer button {
        font-family: 'Open Sans';
        font-size: 1.1em;
        width: 100%;
        display: inline-block;
        height: 60px;
        background: rgba(255, 142, 122, 0.8);
        margin: 0px;
        border: none;
        white-space: nowrap;
        vertical-align: middle;
        padding: 0px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: #FFF;
        border: 0px;
    }

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.contact footer button:hover {
    cursor: pointer;
    background: rgba(255, 142, 122, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.contact .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: url('./../img/arrow.png');
    border-radius: 2px;
    width: 24px;
    height: 24px;
}

    .contact .close:hover {
        position: absolute;
        top: 15px;
        right: 15px;
        background: url('./../img/arrowhover.png');
        border-radius: 2px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

.icon-content, .icon-col {
    display: inline-block;
    vertical-align: middle;
}

.icon-content, .icon-col-sm {
    display: inline-block;
    vertical-align: middle;
}


.icon-content {
    margin-left: 10px;
}

    .icon-content p {
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
    }

    .icon-content h2 {
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
        line-height: 1em;
        font-size: 1.2em;
    }

.row {
    max-width: 100%;
    white-space: nowrap;
}

.col-content {
    text-align: center;
    margin: 40px;
    white-space: normal;
}

.col-md-1 {
    width: 8.3333%;
    display: inline-block;
    vertical-align: top;
}

.col-lg-2 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.col-md-2 {
    width: 16.6666%;
    display: inline-block;
    vertical-align: top;
}

.col-md-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#about .row .col-md-3 {
    text-align: center;
}

#about .hover-details {
    cursor: pointer;
}

    #about .hover-details + p {
        white-space: normal;
        color: #FFF;
        width: 80%;
        margin: auto;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }


    #about .hover-details:hover + p {
        color: #494c43;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }



.col-md-4 {
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
}


.col-md-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.col-md-8 {
    width: 66.6666%;
    display: inline-block;
    vertical-align: top;
}

.col-md-10 {
    width: 83.333333%;
    display: inline-block;
    vertical-align: top;
}

.col-md-12 {
    width: 100%;
    margin: 0px;
}

.form-icon {
    display: block;
    margin: 10px 40px;
}
.icon-form {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
}

.icon-form, .form-icon input[type="text"] {
    display: inline-block;
}

input[type="text"], input[type="email"] {
    margin: auto;
    height: 40px;
    padding: 0px 40px;
    width: 260px;
    background: #F2F2F2;
    color: #696969;
    box-shadow: none;
    border: none;
    overflow: hidden;
    font-size: 1em;
}


    input[type="text"]:focus, input[type="email"]:focus {
        width: 260px;
        background: white;
        box-shadow: none;
        border: none;
        overflow: hidden;
        text-shadow: none;
        background: rgba(255,142,122, 0.3);
        outline: 0;
    }

textarea {
    padding-left: 40px;
    padding-top: 4px;
    height: 140px;
    width: 300px;
    background: #F2F2F2;
    color: #000;
    box-shadow: none;
    border: none;
    font-family: Arial;
    font-size: 1em;
    resize: none;
}

    textarea:focus {
        background: rgba(255,142,122, 0.3);
        outline: 0;
    }

::-webkit-input-placeholder { /* WebKit browsers */
    color: #9A9A9A;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9A9A9A;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9A9A9A;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9A9A9A;
}


input[type="text"]:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,142,122, 1);
}

textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,142,122, 1);
}

.error {
    margin: auto;
    width: 300px;
    display: none;
    font-size: 14px;
    color: red;
    white-space: normal;
}

.btn {
    margin: auto;
    border: 1px solid #FF8E7A;
    color: #FF8E7A;
    padding: 6px 20px;
    font-size: 1em;
    background: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

    .btn:hover {
        cursor: pointer;
        background: #FF8E7A;
        color: #FFF;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.pull-right {
    float: right;
}

.icon img {
    margin: 14px;
}


.icon-hexa img {
    margin: 30px;
}


.infos-content img {
    float: right;
    height: 40px;
    margin-top: -60px;
    margin-right: 70px;
}

.works {
    position: relative;
    width: 100%;
}

.previous {
    z-index: 10;
    height: 80px;
    width: 80px;
    top: 0px;
    bottom: 0px;
    left: 60px;
    position: absolute;
    margin: auto;
}

.icon-degree {
    background: url('./../img/degree.png') no-repeat;
    background-position: center;
}

.icon-travel {
    background: url('./../img/travel.png') no-repeat;
    background-position: center;
}

.icon-photo {
    background: url('./../img/photo.png') no-repeat;
    background-position: center;
    background-size: 100%;
}


#homepage .wrap .btn{
    margin:40px auto;
    display:block;
    width:320px;
    text-align:center;
    padding: 10px;
    font-size:1.2em;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .row {
        max-width: 1024px;
        margin: 80px auto 40px auto;
        white-space: nowrap;
    }

    .icon {
        width: 128px;
        height: 128px;
        margin: 20px auto;
    }

    .icon-sm {
        width: 64px;
        height: 64px;
        margin: 33px auto 5px auto;
    }

    .icon-md {
        width: 96px;
        height: 96px;
        margin: 18px auto;
    }

    .icon.hover {
        background: #a2ce7e;
    }


    .icon-hexa {
        width: 134px;
        height: 156px;
        margin: 40px auto;
        background: url('./../img/HEXAGONE.png') no-repeat;
        background-position: center;
    }

    .icon-hexa-sm {
        width: 100px;
        height: 115px;
        margin: 40px auto;
        background: url('./../img/HEXAGONE.png') no-repeat;
        background-position: center;
        background-size: 100%;
    }

        .icon-hexa-sm:hover {
            width: 100px;
            height: 115px;
            margin: 40px auto;
            opacity: 0.8;
            background: url('./../img/HEXAGONE.png') no-repeat;
            background-position: center;
            background-size: 100%;
        }

    .hover {
        background: url('./../img/HEXAGONEHOVER.png');
    }

    .icon-col {
        width: 128px;
    }

    .icon-col-sm {
        width: 64px;
        height: 64px;
        margin: 10px;
        background-size: 64px 64px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .icon {
        width: 96px;
        height: 96px;
        background-size:100%;
        margin: 15px auto;
    }

    .icon-col {
        width: 64px;
    }

    .icon-content {
        width: 200px;
    }

    h1 {
        padding-top: 30px;
        font-size: 1.8em;
        font-family: 'Open Sans';
        color: #7A7C7F;
        text-align: center;
        font-weight: 800;
    }

    h2 {
        font-size: 1.2em;
        font-family: 'Open Sans';
        color: #7A7C7F;
        text-align: center;
        font-weight: 400;
    }

    h3 {
        font-size: 1em;
        font-family: 'Open Sans';
        color: #7A7C7F;
        text-align: center;
        font-weight: 800;
    }

    p {
        font-size: 0.8em;
        font-family: 'Open Sans';
        color: #7A7C7F;
        text-align: center;
        font-weight: 300;
    }
}

#policy {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    background: rgba(0,0,0, 0.4);
    z-index: 999999999;
}

    #policy article {
        background: #FFF;
        padding: 40px;
    }
